body{
  font-family: 'Montserrat', sans-serif;
}
#title{
  background-color: #ff4c68;
  color: white;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  line-height:1.5;
}
/*heading/title section*/
h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}
.container-fluid{
  padding:3% 10%;
}
.dog-phone{
  padding-top: 50px;
  transform: rotate(20deg);
}
/*navbar*/
.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand{
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem; 
}
.nav-item{
  padding: 0 20px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: light;
}

/*title buttons*/
.dl-btn{
  margin: 5% 3% 5%
}

/*title image*/
.dog-phone{
  width:60%;
  transform: rotate(25%);
  margin-left: 60px;
}

/*features section*/
.features{
  padding: 7% 15%;
}
.feat{
  text-align: center;
  line-height: 1.5;
}
.feat-icon{
  font-size: 4rem;
  color: #ef8172;
  padding:5% 0;
}
.feat-text{
  color: #8f8f8f;
  padding: 4.5%
}
.feat-header{
  font-weight: bold;
}
.feat-icon:hover{
  color:#ff4c68
}

/*testimonial section*/
#testimonials{
  text-align: center;
  background-color: #ef8172;
  color:white;
}
.testimonial-image{
  width:10%;
  border-radius: 100%;
  margin:20px
}

/* press section */
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.logos{
  width:15%;
  margin: 20px 20px 50px;
}
.carousel-item{
  padding: 7% 15%;
}

/* pricing section */

#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-col{
  padding: 3% 2%;
}
.chih-body{
  margin-bottom: 39px;
}
.lab-body{
  margin-bottom: 39px;
}
.buy-btn:hover{
  background-color: white;
  color: black;
}